+include-style('services')
.services
    .services-block
        .services-block__title.fz-h2#s1 Server Administration
        .services-block__subtitle Want to install on a dedicated Windows server? Or connect a disk for backups? No problem! We offer many additional features that allow you to make our services exactly the way you would like them to be. In addition to the list of services below, you can request a hardware upgrade (additional disks, memory, etc.).
        include ../options/options-s

    .services-block
        .services-block__title.fz-h2#s2 Control panels
        .services-block__subtitle Want to install on a dedicated Windows server? Or connect a disk for backups? No problem! We offer many additional features that allow you to make our services exactly the way you would like them to be. In addition to the list of services below, you can request a hardware upgrade (additional disks, memory, etc.).
        include ../options/options-s

    .services-block
        .services-block__title.fz-h2#s3 Backup
        .services-block__subtitle Want to install on a dedicated Windows server? Or connect a disk for backups? No problem! We offer many additional features that allow you to make our services exactly the way you would like them to be. In addition to the list of services below, you can request a hardware upgrade (additional disks, memory, etc.).
        include ../options/options-s


    .services-block
        .services-block__title.fz-h2#s4 Backup
        .services-block__subtitle Want to install on a dedicated Windows server? Or connect a disk for backups? No problem! We offer many additional features that allow you to make our services exactly the way you would like them to be. In addition to the list of services below, you can request a hardware upgrade (additional disks, memory, etc.).
        .services-cards
            .services-card
                .services-card__header.fz-h3 Comodo PositiveSSL
                .services-card__body
                    ul.services-card__list
                        li #[b Domain check] (issuance from 5 minutes)
                        li #[b Option] protects a domain with www and without www for free, issued for .ru .su and .rf domains
                        li #[b Domain check] (issuance from 5 minutes)
                    .services-card__price #[b $42] in year
                    .services-card__btn.btn.btn--primary Order SSL
            .services-card
                .services-card__header.fz-h3 Comodo PositiveSSL
                .services-card__body
                    ul.services-card__list
                        li #[b Domain check] (issuance from 5 minutes)
                        li #[b Option] protects a domain with www and without www for free, issued for .ru .su and .rf domains
                        li #[b Domain check] (issuance from 5 minutes)
                    .services-card__price #[b $42] in year
                    .services-card__btn.btn.btn--primary Order SSL
            .services-card
                .services-card__header.fz-h3 Comodo PositiveSSL
                .services-card__body
                    ul.services-card__list
                        li #[b Domain check] (issuance from 5 minutes)
                        li #[b Option] protects a domain with www and without www for free, issued for .ru .su and .rf domains
                        li #[b Domain check] (issuance from 5 minutes)
                    .services-card__price #[b $42] in year
                    .services-card__btn.btn.btn--primary Order SSL



    .services-block
        .services-block__title.fz-h2#s5 Backup
        .services-block__subtitle Want to install on a dedicated Windows server? Or connect a disk for backups? No problem! We offer many additional features that allow you to make our services exactly the way you would like them to be. In addition to the list of services below, you can request a hardware upgrade (additional disks, memory, etc.).
        include ../options/options-s


