@import "src/assets/css/vars_mixins/vars_mixins";

.services{
	&-block{
		margin-bottom: 64px;
		@media (max-width: $lg - 1) {
			margin-bottom: 54px;
		}
		@media (max-width: $sm - 1) {
			margin-bottom: 30px;
		}
		&__title{
			margin-bottom: 16px;
		}
		&__subtitle{
			margin-bottom: 24px;
		}

		.options-item__price{
			width: 120px;
			flex-shrink: 0;
		}
		.options-item__desc{
			//flex-shrink: 0;
		}

	}
	
	&-cards{
		display: flex;
		flex-direction: column;
		gap: 24px;
	}
}

.services-card{
	box-shadow: 0px 0px 20px rgba(25, 83, 124, 0.1);
	border-radius: 10px;
	overflow: hidden;
	&__header{
		padding: 16px 24px;

		background-color: #E7EFF5;
	}
	&__body{
		padding: 24px;
		background-color: #fff;
		display: grid;
		justify-items: center;
		grid-template-columns: 1fr 0.5fr 0.5fr;
		@media (max-width: $lg - 1) {
			grid-template-columns: 70% auto;
			grid-template-rows: 1fr auto;
		}
		@media (max-width: $md - 1) {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto;
			gap: 24px;
		}
	}
	&__list{
		padding-right: 20px;
		@media (max-width: $lg - 1) {
			grid-row: span 2;

		}
		@media (max-width: $md - 1) {
			grid-column: span 2;
			grid-row: span 1;
			padding-right: 0;
		}
		li{
			padding-left: 25px;
			position: relative;
			&:not(:last-child){
				margin-bottom: 12px;
			}
			b{
				margin-right: 3px;
				font-weight: 600;
			}
			&:before{
				content: '';
				flex-shrink: 0;
				position: absolute;
				left: 0;
				width: 18px;
				height: 18px;
				display: block;
				border-radius: 50%;
				background-color: #D1EBD9;
				background-image: url("data:image/svg+xml,%3Csvg width='11' height='9' viewBox='0 0 11 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5791 4.5L4.5791 7.5L9.5791 1.5' stroke='%2378C468' stroke-width='2'/%3E%3C/svg%3E%0A");
				background-repeat: no-repeat;
				background-position: center;
				background-size: 11px;
				margin-right: 9px;

			}
		}
	}
	&__price,
	&__btn{
		@media (max-width: $lg - 1) {
			grid-row: span 1;
		}
		@media (max-width: $md - 1) {
			grid-column: span 1;
		}
	}
}