+include-style('catalog-product-list')

.catalog-product-list
	.product-card-wrap
		+product-card({
			mod: '',
			discount: '-12%',
			img:'/images/product-4.png',
			new: true,
			hit: true,
			action: true,
			recommend: true,
			slider: false,
			availability: 'unavailable',
			subscribe: true,
			title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
		})
	.product-card-wrap
		+product-card({
			mod: '',
			img:'/images/product-2.png',
			new: true,
			recommend: true,
			slider: false,
			availability: 'unavailable',
			subscribe: true,
			title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
		})
	.product-card-wrap
		+product-card({
			mod: '',
			discount: '-12%',
			img:'/images/product-4.png',
			new: true,
			hit: true,
			action: true,
			recommend: true,
			slider: false,
			availability: 'unavailable',
			subscribe: true,
			title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
		})
	.product-card-wrap
		+product-card({
			mod: '',
			img:'/images/product-2.png',
			new: true,
			recommend: true,
			slider: false,
			availability: 'unavailable',
			subscribe: true,
			title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
		})
	.product-card-wrap
		+product-card({
			mod: '',
			discount: '-12%',
			img:'/images/product-4.png',
			new: true,
			hit: true,
			action: true,
			recommend: true,
			slider: false,
			availability: 'unavailable',
			subscribe: true,
			title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
		})
	.product-card-wrap
		+product-card({
			mod: '',
			img:'/images/product-2.png',
			new: true,
			recommend: true,
			slider: false,
			availability: 'unavailable',
			subscribe: true,
			title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
		})
	.product-card-wrap
		+product-card({
			mod: '',
			discount: '-12%',
			img:'/images/product-4.png',
			new: true,
			hit: true,
			action: true,
			recommend: true,
			slider: false,
			availability: 'unavailable',
			subscribe: true,
			title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
		})
	.product-card-wrap
		+product-card({
			mod: '',
			img:'/images/product-2.png',
			new: true,
			recommend: true,
			slider: false,
			availability: 'unavailable',
			subscribe: true,
			title: 'Смартфон Samsung Galaxy A32 4Gb/128Gb Violet (SM-A325F Смартфон Samsung Galaxy A32 4Gb/128Gb Violet '
		})

include ../pagination/pagination