extends ../../layout/layout

block vars
    - var pageTitle = 'VPS'
    - var pageBodyClass = ''
    - var dir = './'


block main
    +page-header({
        title: 'VPS',
        mod: '',
        img: '/images/servers.svg',
        subtitle: 'VPS (Virtual Private Server), also known as VDS (Virtual Dedicated Server), is a virtual dedicated server, a modern hosting technology that fully emulates the operation of a separate physical server. We offer you the perfect VPS in 28 countries around the world.',
    })

    include ../../components/prices/prices-vps
    include ../../components/why/why-9
    include ../../components/register/register
    include ../../components/faq/faq




block vendorScripts
    +vendorScripts-includer()
block componentsStyles
    +style-includer()

block componentsScripts
    +componentsScripts-includer()

block scripts
    script(src="./js/vendor/swiper.min.js" defer)