+include-style('nav')
+include-script('navleft')


.nav.nav--personal(x-data="{navOpen : false}")
    ul.nav-list(@click="navOpen = !navOpen"  :class="navOpen ? 'active' :''")

        li.nav-item.active
            a.nav-link(href='#p1')
                <svg class="icon-custom" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 8L3.29289 7.29289L2.58579 8L3.29289 8.70711L4 8ZM19 10C19 10.5523 19.4477 11 20 11C20.5523 11 21 10.5523 21 10H19ZM7.29289 3.29289L3.29289 7.29289L4.70711 8.70711L8.70711 4.70711L7.29289 3.29289ZM3.29289 8.70711L7.29289 12.7071L8.70711 11.2929L4.70711 7.29289L3.29289 8.70711ZM4 9H18V7H4V9ZM18 9C18.5523 9 19 9.44772 19 10H21C21 8.34315 19.6569 7 18 7V9Z" fill="#0E0C04"/>
                <path d="M20 16L20.7071 15.2929L21.4142 16L20.7071 16.7071L20 16ZM5 16L5 17L5 17L5 16ZM2 14C2 13.4477 2.44772 13 3 13C3.55228 13 4 13.4477 4 14L2 14ZM16.7071 11.2929L20.7071 15.2929L19.2929 16.7071L15.2929 12.7071L16.7071 11.2929ZM20.7071 16.7071L16.7071 20.7071L15.2929 19.2929L19.2929 15.2929L20.7071 16.7071ZM20 17L5 17L5 15L20 15L20 17ZM5 17C3.34315 17 2 15.6569 2 14L4 14C4 14.5523 4.44772 15 5 15L5 17Z" fill="#0E0C04"/>
                </svg>

                span Bank transfer
        li.nav-item
            a.nav-link(href='#p2')
                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="3" y="6.5874" width="18" height="13" rx="2" stroke="#0E0C04" stroke-width="2"/>
                <path d="M7 15.5874H7.01" stroke="#0E0C04" stroke-width="2" stroke-linecap="round"/>
                <path d="M4 11.5874H21" stroke="#0E0C04" stroke-width="2" stroke-linecap="round"/>
                </svg>



                span Visa, MasterCard
        li.nav-item
            a.nav-link(href='#p3')
                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.00001 7.0874V7.0874C3.00001 5.70669 4.1193 4.5874 5.50001 4.5874L19.2857 4.5874C19.4852 4.5874 19.585 4.5874 19.6651 4.61546C19.8088 4.66572 19.9217 4.77864 19.9719 4.92226C20 5.00245 20 5.1022 20 5.30169V5.30169C20 6.49864 20 7.09712 19.8317 7.57824C19.5301 8.43998 18.8526 9.11752 17.9908 9.41905C17.5097 9.5874 16.9112 9.5874 15.7143 9.5874L15 9.5874M3.00001 7.0874V7.0874C3.00001 8.46811 4.11929 9.5874 5.50001 9.5874L19 9.5874C19.9428 9.5874 20.4142 9.5874 20.7071 9.8803C21 10.1732 21 10.6446 21 11.5874L21 13.5874M3.00001 7.0874L3.00001 17.5874C3.00001 19.473 3.00001 20.4158 3.58579 21.0016C4.17158 21.5874 5.11439 21.5874 7.00001 21.5874L19 21.5874C19.9428 21.5874 20.4142 21.5874 20.7071 21.2945C21 21.0016 21 20.5302 21 19.5874L21 17.5874M21 17.5874H17C16.0572 17.5874 15.5858 17.5874 15.2929 17.2945C15 17.0016 15 16.5302 15 15.5874V15.5874C15 14.6446 15 14.1732 15.2929 13.8803C15.5858 13.5874 16.0572 13.5874 17 13.5874H21M21 17.5874L21 13.5874" stroke="#0E0C04" stroke-width="2"/>
                </svg>


                span PayPal
