+include-style('product-slider')
+include-script('product-slider')
section.index-prices.bg-grad
    +section-title({
        title: 'Hosting pricing'
    })
    .container
        //include ../product-list/product-list


    //+product-card({
    //    mod: 'vps'
    //})
    //hr
    //+product-card({
    //    mod: 'dedicated'
    //})