@import "src/assets/css/vars_mixins/vars_mixins";

.dev {
	display: flex;
	align-items: center;
	transition: all 0.3s ease;

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__title {
		margin-left: 8px;
		font-size: 16px;
		font-weight: 300;
	}

	&:hover {
		@media (min-width: 1024px) {
			cursor: pointer;
			color: $c-primary;
			fill: $c-primary;
		}
	}
}
