+include-style('faq')

section.faq.section-margin
    +section-title({
        title:'Frequently Asked Questions',
        subtitle: 'You have questions, we will answer them!'
    })
    .container
        .faq-inner
            .faq-item(x-data="{active:false}")(:class="!active?'':'active'")
                .faq-item__header(@click="active=!active")
                    span How fast is a dedicated server installed?
                    .faq-item__control
                .faq-item__body
                    p Oh sure. It’s possible!
            .faq-item(x-data="{active:false}")(:class="!active?'':'active'")
                .faq-item__header(@click="active=!active")
                    span The required configuration is not available, what should I do?
                    .faq-item__control
                .faq-item__body
                    p If the server is available, then its installation and issuance takes about 30 minutes.
            .faq-item(x-data="{active:false}")(:class="!active?'':'active'")
                .faq-item__header(@click="active=!active")
                    span Can servers be combined into a private network?
                    .faq-item__control
                .faq-item__body
                    p Oh sure. It’s possible!
