@import "src/assets/css/vars_mixins/vars_mixins";

.faq {

	&-item{
		&.active{
			.faq-item__body{
				max-height: 100px;
			}
			.faq-item__header{
				border-color: $c-primary;
			}
			.faq-item__control{
				&:before{
					background-color: $c-primary;
				}
				&:after{
					background-color: $c-primary;
					transform: rotate(0);
				}
			}
		}
		&__header{
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 30px;
			padding: 36px 0;
			border-bottom: 3px solid #E7EFF5;
			transition: all ease .3s;
			font-size: 24px;
			font-weight: 600;
			@media (max-width: $sm - 1) {
				font-size: 18px;
				padding: 24px 0;
			}

		}
		&__control {
			position: relative;
			width: 30px;
			height: 30px;
			cursor: pointer;
			flex-shrink: 0;
			@media (max-width: $sm - 1) {
				width: 24px;
				height: 24px;
			}

			&:before,
			&:after {
				content: '';
				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
				left: 0;
				height: 2px;
				background-color: $c-text;
				display: block;
				transition: all ease .3s;
			}

			&:after {
				transform: rotate(90deg);
			}
		}

		&__body{
			overflow: hidden;
			max-height: 0;
			transition: all ease .3s;
			p{
				padding: 24px 0;
				font-size: 22px;
				@media (max-width: $sm - 1) {
					font-size: 14px;
					padding: 12px 0;
				}
			}
		}
	}
}