@import "src/assets/css/vars_mixins/vars_mixins";

.product-slider:not(.inited) {
	.swiper-container {
		overflow: visible;
	}

	.swiper-wrapper {

		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 40px 30px;
		@media (max-width: $lg - 1) {
			grid-template-columns: repeat(3, 1fr);
			gap: 36px 30px;
		}
		@media (max-width: $md - 1) {
			grid-template-columns: repeat(2, 1fr);
			gap: 24px;
		}
		@media (max-width: $xs - 1) {
			grid-template-columns: 1fr;
			justify-items: center;
			.product-card-wrap {
				max-width: 300px;
			}
		}


	}
}

.product-slider {
	&.inited {
		z-index: unset !important;
		margin: 0px -10px;

		@media (max-width: $sm - 1) {
			overflow: hidden;
		}

		@media (max-width: $md - 1) {
			height: auto;
			margin: 0px -4px;
			margin-right: 0px;
		}

		@media (max-width: $xs - 1) {
			margin-right: -10px;
		}
		.swiper-container {
			padding: 16px 12px;
			padding-bottom: 24px;
			margin: -16px -12px;
			margin-bottom: -24px;
			z-index: 10;

			@media (max-width: $md - 1) {
				padding: 0px 0px;
				margin: 0px 0px;
			}
		}


		.product-card-wrap {

			@media (max-width: $sm - 1) {
				flex-shrink: 0;
				//width: 300px;
				padding: 0px 4px;
				display: flex;
			}

		}


		.swiper-pagination {
			display: none;
		}
	}


	}

	.product-slider-ajax-tabs {
		margin-bottom: 22px;
		padding-bottom: 20px;

		@media (max-width: $sm - 1) {
			margin-bottom: 8px;
			padding-bottom: 25px;
		}

		&__inner {
			display: flex;
			align-items: center;

		}

		overflow: auto;

		&__item {
			font-weight: 600;
			font-size: 24px;
			margin-right: 32px;
			color: #AAAAAA;
			position: relative;
			line-height: 1.25;
			white-space: nowrap;

			@media (max-width: $sm - 1) {
				font-size: 14px;
				margin-right: 16px;
			}

			&:after {
				position: absolute;
				content: '';
				left: 0;
				right: 100%;
				bottom: -6px;
				height: 3px;
				background-color: $c-primary-2;
				transition: all .3s ease;

			}

			&:hover {
				@media (min-width: 1024px) {
					cursor: pointer;

					&:after {
						right: 0;
					}
				}
			}

			&.active {
				pointer-events: none;
				color: inherit;

				&:after {
					right: 0;
				}

			}
		}
	}