@import "src/assets/css/vars_mixins/vars_mixins";

.product-slider:not(.inited) {
	.swiper-container {
		overflow: visible;
	}

	.swiper-wrapper {

		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 40px 30px;
		@media (max-width: $lg - 1) {
			grid-template-columns: repeat(3, 1fr);
			gap: 36px 30px;
		}
		@media (max-width: $md - 1) {
			grid-template-columns: repeat(2, 1fr);
			gap: 24px;
		}
		@media (max-width: $xs - 1) {
			grid-template-columns: 1fr;
			justify-items: center;
			.product-card-wrap {
				max-width: 300px;
			}
		}


	}
}

.product-slider {
	&.inited {
		z-index: unset !important;
		//margin: 0px -10px;

		@media (max-width: $sm - 1) {
			//overflow: hidden;
		}

		@media (max-width: $md - 1) {
			height: auto;
			//margin: 0px -4px;
			//margin-right: 0px;
		}

		@media (max-width: $xs - 1) {
			//margin-right: -10px;
		}

		.swiper-container {
			padding: 16px 12px;
			padding-bottom: 24px;
			margin: -16px -12px;
			margin-bottom: -24px;
			z-index: 10;

			@media (max-width: $md - 1) {
				padding: 16px 0px;
				margin: 0px 0px;
			}
		}


		.product-card-wrap {

			@media (max-width: $sm - 1) {
				flex-shrink: 0;
				//width: 300px;
				padding: 0px 4px;
				display: flex;
			}

		}


		.swiper-pagination {
			display: none;
		}
	}


}

.product-slider--main{
.product-card-wrap{
	flex-shrink: 0;
	@media (max-width: $sm - 1) {
		justify-content: center;
	}
}
}

.index-prices {

	//padding: 50px;
	.product-slider-section {
		max-width: 1920px;
		margin: 0 auto;
		padding: 0 80px;
		@media (max-width: $sm - 1) {
			padding: 0 20px;
		}


		.swiper-button-prev {
			left: -50px;

			@media (max-width: $sm - 1) {
				//display: none;
				left: 6px;
			}
		}

		.swiper-button-next {
			right: -50px;
			@media (max-width: $sm - 1) {
				//display: none;
				right: 6px;
			}
		}
	}
}