//- Grid
//точки смены устройств
// $xxl: 1680px;
$xl: 1700px;
$lg: 1300px;
$md: 1023px;
$sm: 768px;
$xs: 576px;
//ширины контейнеров
// $xxl-container: 1670px;
$xl-container: 1280px;
$lg-container: 1280px;
$md-container: 980px;
$sm-container: 768px;
$xs-container: 100%;
$container-max-widths: (xs: 100%, sm: $sm-container, md: $md-container, lg: $lg-container, xl: $xl-container,);
$grid-breakpoints: (xs: 0, sm: $sm, md: $md, lg: $lg, xl: $xl,);
// 1/2 отступа между колонками
$grid-gutter-width: 30px;
//количество колонок сетки Добавить!
$grid-columns: 10;
// Fonts
//$f-size: 16px;//base -> 1rem
$f-size: 14px;
$f-main: 'NotoSans',
Arial,
Verdana,
sans-serif;
$f-sec: 'NotoSans',
Arial,
Verdana,
sans-serif;
// Rem font-sizes
// font-size: rem(20);
@function rem($num) {
	@return strip-unit($num) / 16 * 1rem;
}

// Z-index master list
$zindex-dropdown: 100 !default;
$zindex-sticky: 120 !default;
$zindex-fixed: 130 !default;
$zindex-modal-backdrop: 140 !default;
$zindex-modal: 150 !default;
$zindex-popover: 160 !default;
$zindex-tooltip: 170 !default;
$zindex-preloader: 180 !default;
// Colors
$bg-main: #fff;
$bg-hover: #f8f8f8;
$c-hr: #ccc;
$bg-inc-mark: #ff9;
$c-sec: #d15645;
//цвета текста
$c-text: #0E0C04;
$c-text2: #828282;
$c-link: #75787C;
$c-gray: #BDBDBD; //цвет с вески
//основные цвета макета
$c-primary-black: #2A2C2C;
$c-primary-white: #F6F6F6;
$c-primary: #4DAEEB;
$c-primary-2: #FE7235;
$c-primary-hover: #32A4EC;
$c-error: #EB5757;
$c-trp: transparent;
$blue: #234399;
$red: #f45057;
$green: #379f2f;
$yellow: #e8a12b;
$white: #fff;
$black: #000;

@mixin lazy {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	img{
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}