@import "src/assets/css/vars_mixins/vars_mixins";

.page-header-section {
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 32px;

	@media (max-width: $md - 1) {
		margin-bottom: 0px;
	}

	@media (max-width: $xs - 1) {
		flex-direction: column;
		justify-content: center;

		@media (max-width: $sm - 1) {
			font-size: 14px;
		}
		@media (max-width: $xs - 1) {
			margin-left: 0;
		}
	}

	&__menu {
		position: absolute;
		left: 15px;
		top: calc(50% - 12px);
		display: none;

		&.active {
			transform: rotate(0deg);
		}

		@media (max-width: $md - 1) {
			display: flex;
			align-items: center;
			justify-content: center;
			transform: rotate(-180deg);
		}
	}
	&__title{
		margin-bottom: 32px;
	}

	@media (max-width: $md - 1) {
		margin-bottom: 16px;
	}
}
