+include-style('index-about')
section.index-about.section-margin
    .container
        .index-about__inner
            .index-about__left
                +lazy-img({
                    img: '/images/i-about.svg',
                    placeholder: pixel
                })
            .index-about__right
                .index-about__title.fz-h2 About
                .index-about__descr
                    p Ideal server rental Perrrrfeeect!
                    p For the coolest games, the most profitable stores, the most secret correspondence, the most original websites, the most interesting content, the most beautiful photos - and simply for the most successful projects! Because for such projects you need the perfect hosting.
                    p Just select the tariff, country (Netherlands, Russia, USA) - and your server will be ready within 15 minutes!
                a(href='#').btn.btn--primary Read more
