@import "src/assets/css/vars_mixins/vars_mixins";

.index-about {
	&__inner{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 3.5%;
		@media (max-width: $sm - 1) {
			grid-template-columns: 1fr;
			gap: 24px;
			justify-items: center;
		}


	}
	&__left{
		@media (max-width: $sm - 1) {
			max-width: 340px;
			width: 80%;
			.lazy-img-wrap{

			}
		}
	}
	&__right{
		position: relative;
		.btn{
			margin-top: 30px;
			@media (max-width: $sm - 1) {
				margin-top: 24px;
			}
		}

	}
	&__title{
		margin-bottom: 30px;
		@media (max-width: $sm - 1) {
			margin-bottom: 24px;
		}
	}
	&__descr{
		p{
			&:not(:last-child){
				margin-bottom: 24px;
			}
		}
	}
}