@import "src/assets/css/vars_mixins/vars_mixins";

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: background 0.3s, color 0.3s, border 0.3s;
	text-align: center;
	white-space: nowrap;
	text-decoration: none;
	letter-spacing: 0;
	background-color: $c-primary;
	color: #fff;
	font-size: 16px;
	line-height: 1;
	font-weight: 600;
	border-radius: 100px;
	height: 54px;
	padding: 0 36px;
	border: 1px solid $c-primary;
	@media (max-width: $sm - 1) {
		height: 46px;
		padding: 0 24px;
	}

	&.disabled,
	&[disabled] {
		background-color: #F0F0F0;
		pointer-events: none;
	}

	span{
		transition: all ease .1s;
	}

	svg {
		transition: fill 0.3s;
	}

	&:hover {
		text-decoration: none;
	}
	&:active,
	&:focus{
		& > span{
			transform: translateY(1px);
		}
	}

	&--primary {
		.icon {
			fill: #fff;
			margin-right: 10px;
		}
		&:hover {
			@media (min-width: $md) {
				cursor: pointer;
				background-color: $c-primary-hover;
			}
		}
	}

	&--sm{
		height: 38px;
	}

	&--color{
		border-color: #ffffff;
		height: 35px;
		padding: 0 32px;
		@media (min-width: $md){
			&:hover{
				background-color: $c-primary-hover;
			}
		}
	}

	&--outline{
		background-color: transparent;
		color: $c-primary;
		@media (min-width: $md){
			&:hover{
				color: #ffffff;
				background-color: $c-primary;
			}
		}
		&:disabled,
		&.disabled{
			border-color: #9C9C9C;
			color: #9C9C9C;
		}
	}

	&--preloader {
		width: 100%;
		max-width: 275px;
		position: relative;
		pointer-events: none;
		&:after {
			position: absolute;
			content: "";
			width: 20px;
			height: 20px;
			border: 2px solid #aaaaaa;
			border-radius: 50%;
			left: calc(50% - 10px);
			top: calc(50% - 10px);
		}
		&:before {
			position: absolute;
			content: "";
			position: absolute;
			content: "";
			width: 20px;
			height: 20px;
			border: 2px solid #fff;
			border-radius: 50%;
			left: calc(50% - 10px);
			top: calc(50% - 10px);
			border-left-color: transparent;
			z-index: 2;
			animation: rotate 1s linear infinite;
		}
	}
}
