


+include-style('why')





section.why.section-margin
    +section-title({
        title: 'Why Choose NKtelecom?',
        subtitle: 'Some of our benefits that customers get by choosing us'
    })
    .container
        .why-list
            .why-card-wrap
                +why-card({
                    title: 'SSL certificates',
                    text: 'When using the control panel, free SSL to each site',
                    img: '/images/why/why-12.svg'
                })
            .why-card-wrap
                +why-card({
                    title: 'Support 24 hours',
                    text: 'Support staff will respond within 10 minutes at any time of the day',
                    img: '/images/why/why-7.svg'
                })
            .why-card-wrap
                +why-card({
                    title: 'Servers on SSD',
                    text: 'All our servers work with SSD drives',
                    img: '/images/why/why-11.svg'
                })
            .why-card-wrap
                +why-card({
                    title: 'Free backups',
                    text: 'Free FTP storage at our service',
                    img: '/images/why/why-3.svg'
                })
            .why-card-wrap
                +why-card({
                    title: 'Data Centers Tier-3',
                    text: 'Serv-Tech servers are located in Russia, the Netherlands and the USA',
                    img: '/images/why/why-1.svg'
                })
            .why-card-wrap
                +why-card({
                    title: 'Control Panel',
                    text: 'Free hosting and server control panel',
                    img: '/images/why/why-2.svg'
                })
            .why-card-wrap
                +why-card({
                    title: 'Website transfer',
                    text: 'We will transfer sites from another hosting for free within an hour',
                    img: '/images/why/why-16.svg'
                })
            .why-card-wrap
                +why-card({
                    title: 'Free domain',
                    text: 'We give domains in the .ru or .rf zone to server buyers',
                    img: '/images/why/why-5.svg'
                })
            .why-card-wrap
                +why-card({
                    title: 'Free test',
                    text: 'We provide a free test Jur. Persons',
                    img: '/images/why/why-9.svg'
                })
