+include-style('why')

section.why.section-margin
    +section-title({
        title: 'Why Choose NKtelecom?',
        subtitle: 'Some of our benefits that customers get by choosing us'
    })
    .container
        .why-list
            .why-card-wrap
                +why-card({
                    title: 'Support 24/7 ',
                    text: 'We will answer any question at any time of the day',
                    img: '/images/why/why-13.svg'
                })
            .why-card-wrap
                +why-card({
                    title: 'Unlimited traffic',
                    text: 'Unlimited traffic in all tariffs',
                    img: '/images/why/why-14.svg'
                })
            .why-card-wrap
                +why-card({
                    title: '1 Gbit/s',
                    text: 'Checkpoint port speed',
                    img: '/images/why/why-10.svg'
                })
            .why-card-wrap
                +why-card({
                    title: 'Automatic installation 10 minutes',
                    text: 'We will answer any question at any time of the day',
                    img: '/images/why/why-4.svg'
                })
            .why-card-wrap
                +why-card({
                    title: 'NVMe drives',
                    text: 'Unlimited traffic in all tariffs',
                    img: '/images/why/why-8.svg'
                })
            .why-card-wrap
                +why-card({
                    title: 'Individual approach to each client',
                    text: 'Checkpoint port speed',
                    img: '/images/why/why-15.svg'
                })

