@import "src/assets/css/vars_mixins/vars_mixins";

.news-card {
	box-shadow: 0px 0px 20px rgba(25, 83, 124, 0.1);
	border-radius: 10px;
	overflow: hidden;

	&__inner {
	}

	&__header {
		padding-bottom: 63%;
		position: relative;

		.lazy-img-wrap {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	&__footer {
		padding: 36px;
		background-color: #fff;
	}

	&__title {
		font-weight: 600;
		margin-bottom: 16px;
		height: 60px;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		@media (max-width: $sm - 1) {
			line-height: 1.5;
		}

	}

	&__descr {
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		overflow: hidden;
		height: 94px;
		line-height: 1.7;
		font-size: 14px;
		@media (max-width: $sm - 1) {
			height: auto;
		}
	}

	&__date {
		display: flex;
		align-items: center;
		gap: 4px;
		margin-top: 16px;
		margin-bottom: 16px;
		color: #aaaaaa;
	}
}
