+modal({
    id: 'modal-subscribe',
    mod: 'modal-subscribe',
    title: 'Подписка на товар',
    header: true
})
    div(x-data="{success: false}")
        .modal-subscribe__descr(x-text="success == false ? 'Подпишитесь на товар и будьте в курсе о статусе товара.' : 'Вы успешно подписались на товар. Если товар появится в наличии, на указанный Вами e-mail придет уведомление.'")
        form.bv-form.modal-subscribe__form(x-show="!success")
            +input({
                label: 'Email',
                type: 'email',
                fg_mod: 'form-group--margin',
                name: false,
                small: false,
                placeholder: 'example@example.com',
                required: true,
                pattern: '[A-Za-zА-Яа-я0-9\_\-]{1,}@[A-Za-zА-Яа-я0-9\_\-]{1,}\.[A-Za-zА-Яа-я0-9]{2,}',
                validation: {
                    message: 'Заполните поле',
                    regexp: 'Неверный формат',
                    emailaddress: ' ',
                    identical: false
                }
            })
            .modal-susbscibe__submit(x-show="!success")
                button(type="submit").btn.btn--primary
                    span Подписаться
        .modal-susbscibe__submit(x-show="success")
            button.btn.btn--primary(data-dismiss="modal" type="button")
                span Закрыть