+include-style('q-section')
section.q-section.section-margin
    .container
        .q-section__inner
            .q-section__descr
                p You Have Questions?
                span Please write to us from the form on the contact page
            a(href='#').btn.btn--color Read more
