extends ../../layout/layout

block vars
    - var pageTitle = 'Home'
    - var pageBodyClass = 'index'
    - var dir = './'


block main
    +page-header({
        title: 'Virtual Cloud Servers',
        mod: 'page-header--index',
        img:'/images/index-hero.svg',
        subtitle: 'Powerful servers with high-end resources that will guarantee resource exclusivity, starting at just $90.22/mo',
        btn: true
    }
    )

    include ../../components/prices/prices-index
    include ../../components/why/why-1
    include ../../components/map/map
    include ../../components/index-about/index-about



block vendorScripts
    +vendorScripts-includer()
block componentsStyles
    +style-includer()

block componentsScripts
    +componentsScripts-includer()

block scripts
    script(src="./js/vendor/swiper.min.js" defer)