extends ../../layout/layout

block vars
	- var pageTitle = 'Компоненты'
	- var pageBodyClass = ''
	- var dir = './'


block main
	.container
		.row
			.col-lg-7.offset-lg-2
				+breadcrumb({
					content2 : 'Компоненты'
				})
				+page-header-section({
					title: "Компоненты",
					sidemenu: false
				})
				+include-style('content')
				.content
					h3 Кнопка с иконкой
					.btn.btn--primary
						+icon('i-cart')(style="width:28px; height:28px")
						span В корзину
					br
					br
					.btn.btn--primary(disabled)
						+icon('i-cart')(style="width:28px; height:28px")
						span В корзину
					br
					br
					br
					h3 Кнопка без иконки
					.btn.btn--primary
						span В корзину
					br
					br
					.btn.btn--primary(disabled)
						span В корзину
					br
					br
					br
					h3 Кнопка с прелоадером
					.btn.btn--primary.btn--preloader
					br
					br
					br
					h3 Кнопки навигации
					+nav-link({
						noTitle: true,
						link: true,
						mod: 'presection--inner'
					})
					br
					br
					div(style="padding:20px; background-color:#F6F6F6")
						+nav-link({
							noTitle: true,
							link: true,
							mod: 'presection--inner'
						})



block vendorScripts
	+vendorScripts-includer()
block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
	script(src="./js/vendor/swiper.min.js" defer)