extends ../../layout/layout

block vars
    - var pageTitle = 'Новости'
    - var pageBodyClass = ''
    - var dir = './'


block main
    +page-header({
        title: 'Latest News And Events',
        mod: '',
        img: '/images/news-list.svg',
        subtitle: 'The latest news and announcements about all our servers and services.',
    }
    )
    .container
        +breadcrumb({
            content2: 'News'
        })
    include ../../components/news-list/news-list



block vendorScripts
    +vendorScripts-includer()
block componentsStyles
    +style-includer()

block componentsScripts
    +componentsScripts-includer()

block scripts
