@import "src/assets/css/vars_mixins/vars_mixins";

.personal-form {
	.form-group {
		margin-bottom: 19px;
	}
	&__submit {
		margin-top: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: $sm - 1) {
			margin-top: 10px;
		}
	}
}
.personal-password {
	margin-top: 64px;
	margin-bottom: 50px;
	&__title {
		font-size: 24px;
		font-weight: 600;
		margin-bottom: 18px;
	}

	@media (max-width: $sm - 1) {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	&__link {
		display: flex;
		align-items: center;
		color: $c-primary-2;
		fill: $c-primary-2;
		transition: all 0.3s ease;
		&:hover {
			@media (min-width: $lg) {
				cursor: pointer;
				opacity: 0.7;
			}
		}
		.icon {
			margin-left: 4px;
		}
	}
	&__revise {
		&:hover {
			@media (min-width: $lg) {
				color: $c-primary;
			}
		}
	}
}

.personal-address {
	display: flex;
	align-items: center;
	@media(max-width: $sm - 1){
		display: flex;
		flex-direction: column;
	}

	&__control {
		margin-left: 20px;
		display: flex;
		align-items: center;
		@media(max-width: $sm - 1){
			margin-left: auto;
		}
	}

	&__change {
		margin-right: 10px;
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover {
			@media (min-width: 1024px) {
				cursor: pointer;
				.icon {
					fill: $c-primary;
				}
			}
		}
	}

	&__delete {
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover {
			@media (min-width: 1024px) {
				cursor: pointer;
				.icon {
					fill: $c-primary;
				}
			}
		}
	}

	&__add {
		margin-top: 15px;
		color: $c-primary-2;
		transition: opacity 0.3s ease;
		&:hover {
			@media (min-width: 1024px) {
				cursor: pointer;
				opacity: 0.7;
			}
		}
	}
}
