+include-style('news-list')
section.news-list.section-margin
    .container
        .news-list__title.fz-h2 Other news
        .news-list__inner
            .news-card-wrap
                +news-card({})
            .news-card-wrap
                +news-card({})
            .news-card-wrap
                +news-card({})

