+include-style('news-list')
+include-style('index-news')
section.news-list.section-margin
	.container
		.news-list__inner
			.news-card-wrap
				+news-card({
				})
			.news-card-wrap
				+news-card({
				})
			.news-card-wrap
				+news-card({
				})
			.news-card-wrap
				+news-card({
				})
			.news-card-wrap
				+news-card({
				})
			.news-card-wrap
				+news-card({
				})
			.news-card-wrap
				+news-card({
				})
			.news-card-wrap
				+news-card({
				})
			.news-card-wrap
				+news-card({
				})
			.news-card-wrap
				+news-card({
				})

		include ../pagination/pagination
