@import "src/assets/css/vars_mixins/vars_mixins";

.news-list {
	&__inner {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 80px 30px;
		@media (max-width: $md - 1) {
			grid-template-columns: 1fr 1fr;
			gap: 54px 30px;
		}
		@media (max-width: $xs - 1) {
			grid-template-columns: 1fr;
			gap: 24px;
		}
	}

	.news-card-wrap {
	}


}