@font-face {
	font-family: "NotoSans";
	src: url("/dist/fonts/NotoSans-Regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "NotoSans";
	src: url("/dist/fonts/NotoSans-Bold.woff") format("woff");
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: "NotoSans";
	src: url("/dist/fonts/NotoSans-Black.woff") format("woff");
	font-style: normal;
	font-weight: 800;
	font-display: swap;
}


