extends ../../layout/layout

block vars
    - var pageTitle = 'News article'
    - var pageBodyClass = ''
    - var dir = './'


block main
    .container
        +breadcrumb({
            content2: 'News',
            content3: 'Replenishment of balance via bot in telegram and viber'
        })
        .row
            .col-md-8.offset-md-1
                include ../../components/news-article/news-article
    include ../../components/news-list/news-list-article


block vendorScripts
    +vendorScripts-includer()
block componentsStyles
    +style-includer()

block componentsScripts
    +componentsScripts-includer()

block scripts
    script(src="./js/vendor/swiper.min.js" defer)