+include-style('404')
.page-not-found
	.page-not-found__hero 404
	.page-not-found__title Такой страницы нет
	.page-not-found__descr Возможно введен неверный адрес страницы или страница была удалена с сервера
	.page-not-found__control
		a(href='#').btn.btn--primary На главную
		a(href='#').btn.btn--wide Каталог товаров