@import "src/assets/css/vars_mixins/vars_mixins";

.modal-open header,
.compensate-for-scrollbar header {
	margin-right: calc(-1 * var(--scrollWidth));
	.header-mid,
	.header-bottom,
	.header-notification,
	.header-top__inner-wrap,
	.cookie-notification-wrap{
		padding-right: var(--scrollWidth);
	}
	.header-notification__banner,
	.cookie-notification{
		right: var(--scrollWidth);
	}
	//.header-top,
	.header-sticky__inner{
		//padding-right: var(--scrollWidth);
	}
}

.modal-open,
.compensate-for-scrollbar{
	.cookie-notification{
		padding-right: var(--scrollWidth);
	}
	.cookie-notification-wrap{
		right: var(--scrollWidth);
	}
}

.header-sticky {
	height: var(--headerStickyHeight);
	transition: box-shadow 0.3s ease;
	position: relative;
	z-index: 100;
	
	&__inner{
		background-color: #fff;
	}
	&.header-sticky--sticky {
		.header-sticky__inner {
			position: fixed;
			left: 0;
			right: 0;
			top: 0;
			z-index: 150;
		}
	}
	&.header-min {
		.header-sticky__inner {
			box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
		}
		.header-bottom {
			max-height: 0px;
		}
	}
}


.header-notification {
	padding: 12px 0px;
	background-color: $c-primary;
	color: #fff;
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__left,
	&__right {
		display: flex;
		align-items: center;
		gap: 20px;
	}
	&__right {
		flex: 0 0 auto;
		justify-content: flex-end;
	}

	&__link{
		display: flex;
		align-items: center;
		gap: 8px;
		fill:#ffffff;
		color: #ffffff;
		font-size: 14px;
	}

}

.header-top{
	&__inner{
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 64px;
	}

}

.header-logo{
	font-size: 32px;
	text-transform: uppercase;
	font-weight: 800;
}



.header-dropdown {
	background: #ffffff;
	border-radius: 2px;
	padding: 34px;
	position: absolute;
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.08);
	width: 470px;
	top: calc(100% + 5px);
	left: 50%;
	transform: translateX(-50%);
	z-index: 500;
	font-weight: 400;
	opacity: 0;
	visibility: hidden;
	&__phones,
	&__contacts {
		margin-bottom: 26px;
	}
	&__contacts {
	}
	&__timetable {
		font-weight: 600;
		display: grid;
		grid-template-columns: minmax(0px, max-content) minmax(0px, max-content);
		&-val {
			padding-left: 10px;
		}
	}
	&__control {
		margin-top: 21px;
	}
	&__item {
		display: flex;
		.icon {
			fill: $c-primary;
			margin-right: 14px;
		}
	}
}
