+include-script('header')
+include-script('ajax')

header
    .header-top.js-header-top
        .header-notification.js-header-notification.header-notification
            .container
                .header-notification__inner
                    .header-notification__left
                        .header-notification__link
                            +icon('i-location')(style='width:24px; height: 24px')
                            span USA (Atlanta)
                        a(href='mailto:info@nktele.com').header-notification__link
                            +icon('i-mail')(style='width:24px; height: 24px')
                            span info@nktele.com
                        a(href='').header-notification__link
                            +icon('i-tg')(style='width:24px; height: 24px')
                        a(href='').header-notification__link
                            +icon('i-fb')(style='width:24px; height: 24px')
                    .header-notification__right
                        .btn.btn--color Registration
                        .btn.btn--color Enter
    .header-sticky.js-header-sticky
        .header-sticky__inner
            .container
                .header-top__inner
                    .header-top__left
                        a(href='').header-logo
                            img(src='/dist/images/logo.svg')
                        include ../burger/burger
                    .header-top__right(:class="!overflow ? '': 'active'")
                        +nav({
                            mod: 'nav--header-top',
                            list: [
                                {
                                    name: 'Home',
                                    active: true
                                },
                                {name: 'VPS/VDS'},
                                {name: 'Dedicated server'},
                                {name: 'About'},
                                {name: 'Services'},
                                {name: 'Payment'},
                                {name: 'News'},
                            ]
                        })
                        .header-mob__btns
                            .btn.btn--color Registration
                            .btn.btn--color Enter
