+include-style('register')
section.register
    .register-img
        +lazy-img({
            img:'/images/character.svg'
        })
    .register-inner
        .container
            .register-title.fz-h1 Register and order our services
            p Complete a simple registration and you will be able to use all our services
            a(href='#').btn.btn--color Register