+include-style('footer')
+include-script('footer')
include ../q-section/q-section
footer.footer.section-margin
    .footer-inner
        //.back-to-top
        //    +icon('i-small-arrow')(style="width:22px; height:19px")
        .container

            .footer-top
                .footer-top__left
                    .footer-logo LOGO
                    .footer-address
                        span NKtelecom INC 7901 4th St N,
                        span STE 300 St. Petersburg , FL 33702
                    .footer-links
                        a(href='').footer-link
                            +icon('i-tg')(style='width:24px; height: 24px')
                        a(href='').footer-link
                            +icon('i-fb')(style='width:24px; height: 24px')

                .footer-top__right
                    +nav({
                        mod: 'nav--header-top footer-nav',
                        list: [
                            {
                                name: 'Home',
                                active: true
                            },
                            {name: 'VPS/VDS'},
                            {name: 'Dedicated server'},
                            {name: 'About'},
                            {name: 'Services'},
                            {name: 'Payment'},
                            {name: 'News'},
                        ]
                    })

            .footer-mid
                .footer-mid__copy
                    span © 2022 NKTelecom inc. All rights reserved
                    span Created by Easy.web
                .footer-mid__logo
                    .footer__payment-item
                        +lazy-img({
                            img: 'images/dealer-1.svg',
                            placeholder: pixel
                        })
                    .footer__payment-item
                        +lazy-img({
                            img: 'images/dealer-2.svg',
                            placeholder: pixel
                        })
                    .footer__payment-item
                        +lazy-img({
                            img: 'images/dealer-3.svg',
                            placeholder: pixel
                        })
                    .footer__payment-item
                        +lazy-img({
                            img: 'images/dealer-4.svg',
                            placeholder: pixel
                        })
                    .footer__payment-item
                        +lazy-img({
                            img: 'images/dealer-5.svg',
                            placeholder: pixel
                        })
                    .footer__payment-item
                        +lazy-img({
                            img: 'images/dealer-6.svg',
                            placeholder: pixel
                        })
        hr
        .container
            .footer-bottom
                .footer-pay
                    .footer-pay__item
                       +lazy-img({
                           img: 'images/pay-1.svg'
                       })
                    .footer-pay__item
                       +lazy-img({
                           img: 'images/pay-2.svg'
                       })
                    .footer-pay__item
                       +lazy-img({
                           img: 'images/pay-3.svg'
                       })
                    .footer-pay__item
                       +lazy-img({
                           img: 'images/pay-4.svg'
                       })
                .footer-bottom__right
                    a(href='#').footer-bottom__link Privacy Policy
                    a(href='#').footer-bottom__link Acceptable Use Policy
                    a(href='#').footer-bottom__link Terms of Services
