@import "src/assets/css/vars_mixins/vars_mixins";

.footer {
	hr {
		margin: 24px 0;
		background-color: #fff;
		opacity: 0.3;
	}
	.footer-nav{
		.nav-item{
			white-space: nowrap;
			&.active{
				.nav-link{
					color: #FFFFFF;
				}
			}
		}

		@media (max-width: $md - 1) {
			display: none;
		}
	}

	&-inner {
		max-width: 1440px;
		margin: 0 auto;
	}

	background-color: #000000;
	&-logo{
		width: 190px;
		height: 32px;
		margin-bottom: 10px;
	}

	&-top {
		display: flex;
		justify-content: space-between;

		&__left {
			width: 220px;
			color: #FFFFFF;
			display: flex;
			flex-direction: column;
			gap: 18px;
			flex-shrink: 0;
		}

		&__right {
			flex-grow: 1;
		}
	}

	&-links {
		display: flex;
		gap: 6px;
	}

	&-mid {
		color: #FFFFFF;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin-top: 24px;
		gap: 40px;
		@media (max-width: $sm - 1) {
			flex-direction: column;
		}

		&__copy {
			display: flex;
			flex-direction: column;
			font-size: 10px;
			flex-shrink: 0;
		}

		&__logo {
			display: flex;
			align-items: center;
			gap: 40px;
			height: 46px;
			flex-grow: 1;
			justify-content: flex-end;
			@media (max-width: $lg - 1) {
				gap: 20px;
			}
			@media (max-width: $sm - 1) {
				flex-wrap: wrap;
				height: auto;
				justify-content: flex-start;

			}
		}
	}
	&__payment-item{
		opacity: 0.3;
		@media (max-width: $sm - 1) {
			width: 30%;
		}

	}

	&-link {
		display: flex;
		align-items: center;
		gap: 8px;
		fill: #ffffff;
		color: #ffffff;
		font-size: 14px;
	}

	&-bottom {
		display: flex;
		justify-content: space-between;
		@media (max-width: $md - 1) {
			flex-direction: column;
			gap: 40px;
		}


		&__right {
			display: flex;
			align-items: center;
			font-size: 12px;
			gap: 30px;
			opacity: .3;
			@media (max-width: $xs - 1) {
				flex-direction: column;
				align-items: flex-start;
				gap: 16px;
			}

			a {
				text-transform: uppercase;
				text-decoration: underline;
				color: #FFFFFF;
			}
		}
	}

	&-pay {
		display: flex;
		align-items: center;
		gap: 30px;
		height: 30px;
		opacity: 0.3;
		@media (max-width: $sm - 1) {
			justify-content: space-between;
		}

		&__item {

		}
	}
}

