extends ../../layout/layout

block vars
    - var pageTitle = '404'
    - var pageBodyClass = ''
    - var dir = './'


block main
    +page-header({
        title: '404 Not Found',
        mod: 'page-header--404',
        img: '/images/404.svg',
        subtitle: 'This page does not exist or has been removed. Please use the navigation',
    }
    )



block vendorScripts
    +vendorScripts-includer()

block componentsScripts
    +componentsScripts-includer()

block componentsStyles
    +style-includer()

