extends ../../layout/layout

block vars
	- var pageTitle = 'Мой профиль'
	- var pageBodyClass = ''
	- var dir = './'


block main
	.container
		+breadcrumb({
			content2 : 'Мой профиль',

		})
		.row
			.col-lg-2
				include ../../components/personal-nav/personal-nav
			.col-lg-8
				+page-header-section({
					title: "Мой профиль",
					sidemenu: false
				})
				include ../../components/personal-profile/personal-profile



block vendorScripts
	+vendorScripts-includer()
block componentsStyles
	+style-includer()

block componentsScripts
	+componentsScripts-includer()

block scripts
	script(src="./js/vendor/swiper.min.js" defer)