+include-style('options')
.options
    .options-title Service
    ul.options-table
        li.options-item
            .options-item__desc Allocation of an additional processor core
            .options-item__price
                span 42
                span per month
        li.options-item
            .options-item__desc Additional gigabyte of NVMe drive
            .options-item__price
                span 42
                span per month
        li.options-item
            .options-item__desc Additional gigabyte of RAM
            .options-item__price
                span 42
                span per month
        li.options-item
            .options-item__desc Extended administration
            .options-item__price
                span 42
                span per month
        li.options-item
            .options-item__desc ISPmanager 6 Lite control panel
            .options-item__price
                span 42
                span per month
