+include-style('options')
.options
    .container
        .options-title Additional options
        ul.options-table
            li.options-item
                .options-item__desc Allocation of an additional processor core
                .options-item__price
                    span 42
                    span per month
            li.options-item
                .options-item__desc Additional gigabyte of NVMe drive
                .options-item__price
                    span 42
                    span per month
            li.options-item
                .options-item__desc Additional gigabyte of RAM
                .options-item__price
                    span 42
                    span per month
            li.options-item
                .options-item__desc Extended administration
                .options-item__price
                    span 42
                    span per month
            li.options-item
                .options-item__desc ISPmanager 6 Lite control panel
                .options-item__price
                    span 42
                    span per month
            li.options-item
                .options-item__desc ISPmanager 6 Pro control panel
                .options-item__price
                    span 42
                    span per month
            li.options-item
                .options-item__desc ISPmanager 6 Host control panel
                .options-item__price
                    span 42
                    span per month
            li.options-item
                .options-item__desc Allocation of an additional IP address (max. 16)
                .options-item__price
                    span 42
                    span per month
            li.options-item
                .options-item__desc Network /64 IPv6 addresses
                .options-item__price
                    span 42
                    span per month
            li.options-item
                .options-item__desc Full server backup 2 times a week
                .options-item__price
                    span 42
                    span per month
            li.options-item
                .options-item__desc ISPmanager 6 Host control panel
                .options-item__price
                    span 42
                    span per month
            li.options-item
                .options-item__desc Allocation of an additional processor core
                .options-item__price
                    span 50%
                    span of the server cost