@import "src/assets/css/vars_mixins/vars_mixins";

.options{
	margin-top: 42px;
	@media (max-width: $sm - 1) {
		margin-top: 24px;
	}
	&-title{
		font-weight: 700;
		color: $c-primary;
		font-size: 24px;
		padding-bottom: 20px;
		border-bottom: 4px solid #E7EFF5;
		@media (max-width: $sm - 1) {
			font-size: 20px;
		}
	}
	&-table{}
	&-item{
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		padding: 16px 0;
		border-bottom: 4px solid #E7EFF5;
		position: relative;
		@media (max-width: $sm - 1) {
			padding: 8px 0;
		}
		&__desc{
			display: flex;
			align-items: center;
			&:before{
				content: '';
				//position: absolute;
				left: 0;
				width: 18px;
				height: 18px;
				display: block;
				border-radius: 50%;
				background-color: #D1EBD9;
				background-image: url("data:image/svg+xml,%3Csvg width='11' height='9' viewBox='0 0 11 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5791 4.5L4.5791 7.5L9.5791 1.5' stroke='%2378C468' stroke-width='2'/%3E%3C/svg%3E%0A");
				background-repeat: no-repeat;
				background-position: center;
				background-size: 11px;
				margin-right: 9px;
				flex-shrink: 0;
			}
		}

		&__price{
			width: 200px;
			display: flex;
			gap: 4px;
			@media (max-width: $sm - 1) {
				width: 95px;
				flex-shrink: 0;
			}
			span:first-child{
				font-weight: 600;
			}
		}
	}
}