+include-style('product-slider')
+include-script('product-slider')
section.bg-grad.section-margin
    +section-title({
        title: 'Pricing'
    })
    .container
        include ../select/select

        include ../partners/partners
        include ../product-slider/product-slider
        include ../options/options

