+include-style('product-slider')
+include-script('product-slider')
section.index-prices.bg-grad.section-margin
    +section-title({
        title: 'Hosting pricing'
    })
    include ../select/select-i
    include ../product-slider/product-slider-i
