+include-style('map')

section.map.section-margin.bg-grad
    +section-title({
        title: 'Geography',
    })
    .container
        .map-inner
            .map-legend
                .map-legend__item
                    p North America
                    .map-legend__city Atlanta
                        span North America
                        .map-point
                .map-legend__item
                    p Europe
                    .map-legend__city Amsterdam
                        span Netherlands
                        .map-point

            .map-container
                .map-container__img
                    +lazy-img({
                        img: 'images/map.png'
                    })
                    .map-point(x-data="{open:false}" @click="open=!open" @click.outside="open=false" )
                        .map-badge(:class="open ? 'active': ''")
                            .map-badge__header Atlanta
                            .map-badge__body
                                p 659 Peachtree Street NE,
                                p Atlanta, GA, USA, 30308
                    .map-point.map-point--europe(x-data="{open:false}" @click="open=!open" @click.outside="open=false" )
                        .map-badge(:class="open ? 'active': ''")
                            .map-badge__header Amsterdam
                            .map-badge__body
                                p 659 Peachtree Street NE,
                                p Amsterdam Netherlands
