@import "src/assets/css/vars_mixins/vars_mixins";

.nav--header-top {
	.nav-list {
		display: flex;
		justify-content: flex-end;
		@media (max-width: $sm - 1) {
			.menu-item{
				&:not(:last-child){
					margin-bottom: 24px;
				}
			}
			.nav-item{
				font-size: 16px;
			}
		}
	}

	li{

		&:not(:last-child) {
			margin-right: 40px;
			@media (max-width: $md - 1) {
				margin-right: 20px;
			}
		}


		font-weight: 600;




			.nav-link {
				&.active{
					color: $c-text;
					pointer-events: none;
				}

			}

	}
	&.footer-nav{
		.nav-link{
			&.active{
				color: #f0f0f0;
			}
		}
	}

	.nav-link {
		font-size: 16px;
		color: #75787C;
		@media (max-width: $md - 1) {
			font-size: 14px;
		}
		@media (max-width: $sm - 1) {
			font-size: 16px;
		}
	}
}


.nav--side-catalog {
	.nav-item {
		padding: 4px 0px;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;

		.icon {
			transform: rotate(0deg);
			fill: $c-primary;
			transition: all 0.3s ease;
		}
	}

	.nav-item {
		display: none;

		&:nth-child(-n + 7) {
			display: flex;
		}
	}

	.nav-list.more {
		.nav-item {
			display: flex;
		}
	}

	.nav-toggle {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 10px;
	}

	.nav-link {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		transition: all 0.3s ease;

		&.active {
			font-weight: 600;

			.icon {
				transform: rotate(90deg);
			}
		}

		&:hover {
			@media (min-width: 1024px) {
				cursor: pointer;
				color: $c-primary;
			}
		}
	}

	.nav-lvl2 {
		max-height: 0px;
		overflow: hidden;
		transition: all 0.2s linear;

		&.active {
			max-height: 1000px;
		}
	}

	.nav-lvl2-item {
		padding: 4px 0px;
	}

	.nav-lvl2-link {
		font-size: 14px;
		padding: 4px 5px;
		transition: all 0.3s ease;

		&:hover {
			@media (min-width: 1024px) {
				cursor: pointer;
				background-color: #f6f6f6;
			}
		}
	}

	.nav-show-more {
		font-size: 16px;
		margin-top: 8px;
	}
}

.nav--side-search {
	.nav-item {
		padding: 6px 0px;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		align-items: flex-start;

		.icon {
			transform: rotate(0deg);
			margin-right: 14px;
			fill: $c-primary;
			transition: all 0.3s ease;
		}
	}

	.nav-item {
		display: none;
		font-size: 14px;

		&:nth-child(-n + 7) {
			display: flex;
		}
	}

	.nav-list.more {
		.nav-item {
			display: flex;
		}
	}

	.nav-link {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-start;
		align-items: flex-start;
		transition: all 0.3s ease;

		&.active {
			font-weight: 600;

			.icon {
				transform: rotate(90deg);
			}
		}

		&:hover {
			@media (min-width: 1024px) {
				cursor: pointer;
				color: $c-primary;
			}
		}
	}

	.nav-lvl2 {
		max-height: 0px;
		overflow: hidden;
		transition: all 0.2s linear;

		&.active {
			max-height: 1000px;
		}
	}

	.nav-lvl2-item {
		padding: 4px 0px;
	}

	.nav-lvl2-list {
		padding-left: 21px;
	}

	.nav-lvl2-link {
		font-size: 14px;
		padding: 4px 5px;
		transition: all 0.3s ease;

		&:hover {
			@media (min-width: 1024px) {
				cursor: pointer;
				background-color: #f6f6f6;
			}
		}
	}

	.nav-show-more {
		font-size: 14px;
		margin-top: 8px;
	}
}

.nav--personal {
	position: sticky;
	top: 90px;

	@media (max-width: $md - 1) {
		position: relative;
		top: auto;
		width: 100%;
		//height: 60px;
		display: flex;
		justify-content: center;
	}

	.nav-list {
		width: 300px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		@media (max-width: $md - 1) {
			position: absolute;
			width: 100%;
			max-width: 360px;
			margin: 0 auto;
			z-index: 10;
			max-height: 0px;
			overflow: hidden;
			padding-top: 58px;
			//position: relative;
			box-sizing: border-box;
			border-radius: 10px;
			transition: all 0.3s ease;
			//background-color: #E7EFF5;
			background-color: #fff;
			&:after {
				position: absolute;
				content: "";
				width: 10px;
				height: 6px;
				background-repeat: no-repeat;
				background-position: center;
				right: 15px;
				top: 25px;
				background-image: url("data:image/svg+xml,%3Csvg width='12' height='6' viewBox='0 0 12 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L6.04 5L11 1' stroke='%23000000' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
				transition: all 0.3s ease;
			}
		}

		&.active {
			@media (max-width: $md - 1) {
				box-shadow: 0 3px 20px rgba(0, 0, 0, 0.08);
				max-height: 500px;
				&:after {
					position: absolute;
					content: "";
					transform: rotate(180deg);
				}
			}
		}
	}

	.nav-item {
		width: 100%;
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		border-radius: 12px;
		padding: 16px;
		font-size: 14px;
		margin-bottom: 12px;
		transition: all 0.3s ease;
		@media (max-width: $md - 1) {
			padding: 16px 24px;
			margin-bottom: 0px;
		}

		&.active {
			pointer-events: none;
			background-color: #E7EFF5;

			.nav-item-name {
				font-size: 16px;
			}

			.icon {
				fill: #4DAEEB;

				path {
					stroke: transparent;
				}
			}

			.icon-custom {
				path {
					stroke: transparent;
					fill: #4DAEEB;
				}
			}

			svg {
				path,
				rect, circle {
					stroke: #4DAEEB;
				}
			}

			@media (max-width: $md - 1) {
				position: absolute;

				.nav-item-name {
					color: inherit;
				}
				top: 0px;
			}
		}

		&:hover {
			@media (min-width: 1024px) {
				cursor: pointer;
				//background-color: $c-primary;
				//.nav-item-name {
				//	color: #fff;
				//}
			}
		}
	}

	.nav-link {
		display: flex;
		align-items: center;
		gap: 9px;

		//.icon {
		//	fill: transparent;
		//}
	}

	@media (max-width: $md - 1) {
	}
}
