mixin product-card(args={})
    +include-script('mixin__product-card')
    +include-style('mixin__product-card')
    .product-card(class=`product-card--${args.mod}`)
        .product-card__inner
            .product-price 120
            .product-card__header
                img(src='/dist/images/usa.svg')
                span Cloud-200
            .product-card__body
                if(args.mod === 'vps')
                    ul.product-card__list
                        li CPU #[b 1]
                        li RAM #[b 1]
                        li Disk #[b 20]
                        li Port #[b 1 gbit/s]
                        li Traffic #[b Unlime]
                        li IP #[b 1 ipv4|\64 ipv6 - 1.99$]
                        li OS #[b Linux, ISO]
                else
                    ul.product-card__list
                        li CPU #[b 2 x Intel Xeon E5-2680v3]
                        li Drives #[b Up to 14 drives]
                        li RAM #[b Up to 1.5 TB]
                        li Port #[b 1 gbit/s]
                        li Traffic #[b 20002 GB]
                        li Network adaptors #[b Up to 4]
            .product-card__price
                .product-card__price-left
                    .product-card__price-price $149,49
                    span per month
                if(args.mod === 'vps')
                    .product-card__price-right
                        .product-card__price-total
                            span $1793,68
                            |&nbsp;/&nbsp;
                            span 12 month
                        .product-card__price-sale Save 10%


            .product-card__footer
                .btn.btn--primary Order a server
