+include-style('payment')
.payment
    .payment-block

        .payment-block__title.fz-h2#p1 Bank transfer
        .payment-block__imgs
            .payment-block__img
                +lazy-img({
                    img: 'images/payment-4.svg'
                })
        .payment-block__subtitle.fz-h3 Filling in the details for invoicing
        p If you are issuing an invoice for the first time, after that the system will prompt you to fill in the data about the payer. They include the name of the company / full name of an individual, country of incorporation, type of organization (legal entity, individual or individual entrepreneur), address of the organization, TIN and KPP:
        br
        .payment-block__subtitle.fz-h4 Filling in the details for invoicing
        p If you have already issued an invoice and filled in the payer's data in your Personal Account, the system will automatically prompt you to select it and issue an invoice using the previously filled in details. Before paying, do not forget to check that your details on the invoice are correct. If necessary, you can edit them in the Client — Payers section.
        br
        .payment-block__subtitle.fz-h4 Requisites in ALFA-BANK:
        p IOT JSC, TIN: 7731399513, KPP: 773101001
        p JSC "ALFA-BANK"
        p BIC: 044525593
        p C/C: 30101810200000000593
        p P/S: 40702810302830003585
        br
        .payment-block__subtitle.fz-h4 Requisites in ALFA-BANK:
        ul
            li Transferring money to the cashier (seller) - from hand to hand
            li Transfer through an ATM - with the subsequent withdrawal of the amount by the recipient
            li Transfer by money transfer system - Zolotaya Korona, Unistream, Contact, and others

    .payment-block

        .payment-block__title.fz-h2#p2 Visa, Mastercard
        .payment-block__imgs
            .payment-block__img
                +lazy-img({
                    img: 'images/payment-3.svg'
                })
            .payment-block__img
                +lazy-img({
                    img: 'images/payment-1.svg'
                })
        .payment-block__subtitle.fz-h3 Filling in the details for invoicing
        p If you are issuing an invoice for the first time, after that the system will prompt you to fill in the data about the payer. They include the name of the company / full name of an individual, country of incorporation, type of organization (legal entity, individual or individual entrepreneur), address of the organization, TIN and KPP:
    .payment-block

        .payment-block__title.fz-h2#p3 PayPal
        .payment-block__imgs
            .payment-block__img
                +lazy-img({
                    img: 'images/payment-2.svg'
                })

        .payment-block__subtitle.fz-h3 Filling in the details for invoicing
        p The conversion of any type of online business depends on the correct choice of a payment provider. This is especially acute in the face of growing competition in the field of electronic commerce, where any advantage can be decisive. In addition to the ability to pay for goods convenient for customers, the merchant can configure the acceptance of payments directly on his website, without forwarding to external resources.
        p One of the most widely used payment processing services is PayPal.
        p PayPal has been providing secure payments worldwide for many years. For merchants, the service offers a quick and easy integration process that does not require significant technical skills. Consider the main points that will help to make a quick installation of the payment system.